<main class="mb-auto">
      <h1>Welcome to
        <i class ="fas fa-book">
        </i>
        <strong>Bookers!!</strong>
      </h1>

 <h1 class="px-3 mx-auto"></i><strong></strong></h1>
 <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>